body {
  margin: 0;
  padding: 0;
  width: 500px;
  box-sizing: border-box;
}
body img {
  max-width: 100%;
}

@font-face {
  font-family: shrikhandregular;
  src: url("../polices/Shrikhandregular/shrikhand-regular-webfont.eot");
  src: url("../polices/Shrikhandregular/shrikhand-regular-webfont.eot?#iefix") format("eot"), url("../polices/Shrikhandregular/shrikhand-regular-webfont.woff") format("woff"), url("../polices/Shrikhandregular/shrikhand-regular-webfont.ttf") format("truetype"), url("../polices/Shrikhandregular/shrikhand-regular-webfont.svg#shrikhandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: robotoblack;
  src: url("../polices/roboto/Roboto-Black-webfont.eot");
  src: url("../polices/roboto/Roboto-Black-webfont.eot?#iefix") format("embedded-opentype"), url("../polices/roboto/Roboto-Black-webfont.woff") format("woff"), url("../polices/roboto/Roboto-Black-webfont.ttf") format("truetype"), url("../polices/roboto/Roboto-Black-webfont.svg#robotoblack") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: robotobold;
  src: url("../polices/Roboto-Bold-webfont.eot");
  src: url("../polices/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../polices/Roboto-Bold-webfont.woff2") format("woff2"), url("../polices/Roboto-Bold-webfont.woff") format("woff"), url("../polices/Roboto-Bold-webfont.ttf") format("truetype"), url("../polices/Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: robotolight;
  src: url("../polices/roboto/Roboto-Light-webfont.eot");
  src: url("../polices/roboto/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../polices/roboto/Roboto-Light-webfont.woff2") format("woff2"), url("../polices/roboto/Roboto-Light-webfont.woff") format("woff"), url("../polices/roboto/Roboto-Light-webfont.ttf") format("truetype"), url("../polices/roboto/Roboto-Light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
.btn {
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 2rem;
  border: none;
  background-image: linear-gradient(#FF79da, #9356DC);
  color: #fff;
  margin-bottom: 1.5rem;
  box-shadow: 10px 10px 10px #eaeaea;
}

header {
  text-align: center;
}
header h1 {
  margin-bottom: 0;
}
header img {
  width: 50%;
}

.localisation {
  display: flex;
  margin-top: 0;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}
.localisation .fas {
  font-size: 1rem;
  margin-right: 1rem;
}
.localisation p {
  font-size: 1rem;
  font-family: robotoblack, Arial, serif;
}

.presentation {
  text-align: center;
  background-color: #f6f6f6;
}
.presentation__text {
  font-size: 1.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  font-family: robotolight, Arial, serif;
}
.presentation h2 {
  margin-top: 0;
  padding-top: 2rem;
  font-weight: bold;
  font-size: 2rem;
  font-family: robotolight, Arial, serif;
  font-family: robotobold, Arial, serif;
  margin-bottom: 1.5rem;
}

.instructions__element {
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem 0 1rem 0;
  align-items: center;
  background: #f6f6f6;
  border-radius: 1rem;
  box-shadow: 10px 10px 10px #eaeaea;
  margin-bottom: 2rem;
}
.instructions__element__icons {
  margin: 0;
  width: 1.5rem;
  text-align: center;
  color: #959595;
}
.instructions__element__icons--pink {
  color: #9356DC;
}
.instructions__element__text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #9356DC;
  border-radius: 50%;
  color: #fff;
  font-size: 1rem;
  margin-right: 1rem;
  margin-left: -0.5rem;
}
.instructions__element__content {
  margin-left: 2rem;
  font-family: robotoblack, Arial, serif;
  font-weight: bold;
}
.instructions__element--darker {
  background-color: #f5edff;
}
.instructions h2 {
  margin-top: 0;
  padding-top: 2rem;
  font-weight: bold;
  font-size: 2rem;
  font-family: robotolight, Arial, serif;
  font-family: robotobold, Arial, serif;
  margin-left: 0.5rem;
}

.restaurants {
  background-color: #f6f6f6;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.restaurants__choice {
  margin: 0;
  padding: 0;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}
.restaurants__description {
  display: flex;
  background-color: #fff;
  border-radius: 0 0 1.5rem 1.5rem;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.restaurants__name {
  margin-left: 1.5rem;
}
.restaurants__name h3 {
  font-size: 1.5rem;
  font-family: robotoblack, Arial, serif;
  margin-bottom: 0;
  font-weight: bold;
  font-style: normal;
}
.restaurants__name p {
  font-family: robotolight, Arial, serif;
  font-style: normal;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
.restaurants__fav {
  font-size: 3rem;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
.restaurants img {
  border-radius: 1.5rem 1.5rem 0 0;
}
.restaurants .picture_cut {
  border-radius: 1.5rem 1.5rem 0 0;
  overflow: hidden;
  height: 350px;
}
.restaurants .picture_cut img {
  margin-top: -120px;
}
.restaurants h2 {
  margin-top: 0;
  padding-top: 2rem;
  font-weight: bold;
  font-size: 2rem;
  font-family: robotolight, Arial, serif;
  font-family: robotobold, Arial, serif;
}

.footer {
  background: #353535;
  color: #fff;
  padding-bottom: 1.5rem;
}
.footer h2 {
  font-family: shrikhandregular, Arial, serif;
  margin-left: 1.5rem;
  padding-top: 1.5rem;
}
.footer__item {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  font-size: 1rem;
}
.footer__item p {
  font-family: robotoblack, Arial, serif;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.footer__item .fas {
  width: 1.5rem;
  margin-right: 0.5rem;
}
.footer__item__legal {
  margin-top: 0.5rem;
  font-family: robotothin, Arial, serif;
}
.footer__item__legal a {
  text-decoration: none;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
