/*style index.html*/
body {
  margin: 0;
  padding: 0;
  width: 500px;
  box-sizing: border-box;
  width: 100%;
}
body img {
  max-width: 100%;
}

@font-face {
  font-family: shrikhandregular;
  src: url("../polices/Shrikhandregular/shrikhand-regular-webfont.eot");
  src: url("../polices/Shrikhandregular/shrikhand-regular-webfont.eot?#iefix") format("eot"), url("../polices/Shrikhandregular/shrikhand-regular-webfont.woff") format("woff"), url("../polices/Shrikhandregular/shrikhand-regular-webfont.ttf") format("truetype"), url("../polices/Shrikhandregular/shrikhand-regular-webfont.svg#shrikhandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: robotoblack;
  src: url("../polices/roboto/Roboto-Black-webfont.eot");
  src: url("../polices/roboto/Roboto-Black-webfont.eot?#iefix") format("embedded-opentype"), url("../polices/roboto/Roboto-Black-webfont.woff") format("woff"), url("../polices/roboto/Roboto-Black-webfont.ttf") format("truetype"), url("../polices/roboto/Roboto-Black-webfont.svg#robotoblack") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: robotobold;
  src: url("../polices/Roboto-Bold-webfont.eot");
  src: url("../polices/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../polices/Roboto-Bold-webfont.woff2") format("woff2"), url("../polices/Roboto-Bold-webfont.woff") format("woff"), url("../polices/Roboto-Bold-webfont.ttf") format("truetype"), url("../polices/Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: robotolight;
  src: url("../polices/roboto/Roboto-Light-webfont.eot");
  src: url("../polices/roboto/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../polices/roboto/Roboto-Light-webfont.woff2") format("woff2"), url("../polices/roboto/Roboto-Light-webfont.woff") format("woff"), url("../polices/roboto/Roboto-Light-webfont.ttf") format("truetype"), url("../polices/roboto/Roboto-Light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
.btn {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 2rem;
  border: none;
  background-image: linear-gradient(#FF79da, #9356DC);
  color: #fff;
  margin-bottom: 1.5rem;
  box-shadow: 5px 5px 8px #c6bdcd;
  font-family: robotoblack, Arial, serif;
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  box-shadow: 10px 10px 8px #c6bdcd;
  opacity: 0.85;
}
.btn--menu {
  width: 200px;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

@media screen and (min-width: 992px) {
  /*responsive laptop bouton*/
  .btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 350px;
    height: 75px;
    font-size: 1rem;
  }
}
/*style index.html*/
header {
  text-align: center;
}
header h1 {
  margin-bottom: 0.5rem;
  font-family: shrikhandregular, Arial, serif;
  font-size: 1.5rem;
}

/*style bastille.html*/
.header__menu {
  display: flex;
  align-items: center;
}
.header__menu h1 {
  position: absolute;
  width: 100%;
  z-index: 1;
  text-align: center;
  padding-top: 1rem;
  font-size: 1.5rem;
}
.header__menu a {
  position: relative;
  z-index: 2;
}
.header__menu i {
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: 1.5rem;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  /*style responsive tablette index*/
  header h1 {
    font-size: 2rem;
  }

  /*style responsive tablette pages menu*/
  .header__menu h1 {
    font-size: 2rem;
    padding-top: 0.5rem;
  }
}
@media screen and (min-width: 992px) {
  /*style responsive laptop index*/
  header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  header h1 {
    font-size: 3rem;
    margin-top: 1rem;
  }
  header i {
    font-size: 2rem;
  }

  /*style responsive laptop pages menu*/
  .header__menu {
    box-shadow: 20px 0 20px #eaeaea;
    padding-bottom: 1.5rem;
  }
  .header__menu h1 {
    font-size: 3rem;
  }
  .header__menu i {
    font-size: 2rem;
    margin-left: 4rem;
  }
}
.localisation {
  display: flex;
  margin-top: 0;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}
.localisation .fas {
  font-size: 1rem;
  margin-right: 1rem;
}
.localisation p {
  font-size: 1rem;
  font-family: robotoblack, Arial, serif;
}

.presentation {
  text-align: center;
  background-color: #f6f6f6;
}
.presentation__text {
  font-size: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  font-family: robotolight, Arial, serif;
}
.presentation h2 {
  margin-top: 0;
  padding-top: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: robotolight, Arial, serif;
  font-size: 1.5rem;
  font-family: robotobold, Arial, serif;
  margin-bottom: 1rem;
}

.instructions__element {
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem 0 1rem 0;
  align-items: center;
  background: #f6f6f6;
  border-radius: 1rem;
  box-shadow: 10px 10px 10px #eaeaea;
  margin-bottom: 2rem;
}
.instructions__element__icons {
  margin: 0;
  width: 1.5rem;
  text-align: center;
  color: #959595;
}
.instructions__element__icons--pink {
  color: #9356DC;
}
.instructions__element__text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #9356DC;
  border-radius: 50%;
  color: #fff;
  font-size: 1rem;
  margin-right: 1rem;
  margin-left: -0.5rem;
}
.instructions__element__content {
  margin-left: 2rem;
  font-family: robotoblack, Arial, serif;
  font-weight: bold;
}
.instructions__element--darker {
  background-color: #f5edff;
}
.instructions h2 {
  margin-top: 0;
  padding-top: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: robotolight, Arial, serif;
  font-size: 1.5rem;
  font-family: robotobold, Arial, serif;
  margin-left: 0.5rem;
}

a {
  font-style: normal;
  color: #000;
  text-decoration: none;
}

.restaurants {
  background-color: #f6f6f6;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 1.5rem;
}
.restaurants img {
  margin-bottom: 0;
}
.restaurants__choice {
  margin: 0;
  padding: 0;
  border-radius: 1.5rem;
  overflow: hidden;
  margin-bottom: 1.5rem;
}
.restaurants__description {
  display: flex;
  background-color: #fff;
  border-radius: 0 0 1.5rem 1.5rem;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-top: 0;
}
.restaurants__name {
  margin-left: 1.5rem;
}
.restaurants__name h3 {
  font-size: 1rem;
  font-family: robotoblack, Arial, serif;
  margin-bottom: 0;
  font-weight: bold;
  font-style: normal;
}
.restaurants__name p {
  font-family: robotolight, Arial, serif;
  font-style: normal;
  font-size: 1rem;
  margin-top: 0.5rem;
}
.restaurants__fav {
  font-size: 3rem;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
  position: relative;
}
.restaurants__fav .voidheart {
  position: absolute;
  font-size: 1.5rem;
  right: 10px;
}
.restaurants__fav .filledheart {
  position: absolute;
  font-size: 1.5rem;
  right: 10px;
  opacity: 0;
  z-index: 2;
}
.restaurants__fav:hover .voidheart {
  animation: disappear 500ms both;
}
.restaurants__fav:hover .filledheart {
  animation: progressiveheart 750ms forwards;
  transform-origin: bottom;
}
.restaurants h2 {
  margin-top: 0;
  padding-top: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: robotolight, Arial, serif;
  font-size: 1.5rem;
  font-family: robotobold, Arial, serif;
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes progressiveheart {
  0% {
    transform: scaleZ(0);
    opacity: 0;
    transform-origin: bottom;
  }
  25% {
    transform: scaleZ(0.23);
    opacity: 0.1;
  }
  50% {
    transform: scaleZ(0.47);
    opacity: 0.2;
  }
  75% {
    transform: scaleZ(0.77);
    opacity: 0.65;
  }
  100% {
    color: #9356DC;
    transform: scaleZ(1);
    opacity: 1;
  }
}
/*style menu*/
.main__menu {
  margin-top: 1rem;
}
.main__menu .cut {
  overflow: hidden;
  height: 250px;
  width: 100%;
}
.main__menu .cut img {
  margin-top: -120px;
}

.menu {
  background: #f6f6f6;
  margin-top: -4rem;
  position: relative;
  z-index: 1;
  width: 100%;
  border-radius: 1.5rem 1.5rem 0 0;
}
.menu__title {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  padding-top: 1rem;
}
.menu__title .restaurants__fav {
  margin-top: 0.8rem;
  font-size: 2.5rem;
  margin-right: 0;
}
.menu__title h2 {
  font-family: shrikhandregular, Arial, serif;
  font-size: 1.3rem;
  margin-bottom: 0;
}
.menu .entree {
  margin-right: 1rem;
  margin-left: 1rem;
  padding-top: 1rem;
  animation: entree 2000ms 300ms ease-out both;
}
.menu .entree h3 {
  font-family: robotolight, Arial, serif;
  font-size: 1rem;
  z-index: -3;
}
.menu .entree h3 span {
  border-bottom: 3px solid #99e2d0;
}
.menu .entree__choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 100%;
  padding-left: 0.5rem;
  background: #fff;
  border-radius: 1.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
  box-shadow: 10px 10px 10px #eaeaea;
}
.menu .entree__choice:hover .checked {
  animation: checked 1000ms ease-in-out both;
}
.menu .entree__choice:hover .entree__choice__price {
  animation: price 1000ms ease-in-out both;
}
.menu .entree__choice:hover i {
  animation: iconspin 1000ms ease-in-out forwards;
}
.menu .entree__choice:hover .entree__choice__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .entree__choice:hover .entree__choice__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .entree__choice:hover .entree__choice__fullname {
  animation: wrap 1000ms ease-in-out both;
}
.menu .entree__choice__fullname {
  width: 80%;
}
.menu .entree__choice__name {
  display: block;
  font-family: robotoblack, Arial, serif;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}
.menu .entree__choice__description {
  display: block;
  font-family: robotolight, Arial, serif;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  margin-right: 0;
  line-height: 0.9rem;
}
.menu .entree__choice__price {
  float: right;
  margin-right: 1rem;
  display: flex;
  align-items: flex-end;
  bottom: 1.5rem;
  font-family: robotoblack, Arial, serif;
  z-index: 3;
  padding-left: 0.5rem;
}
.menu .entree__choice .checked {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -110px;
  margin-left: 40px;
  height: 75px;
  width: 75px;
  background: #99e2d0;
  border-radius: 0 1.5rem 1.5rem 0;
  top: 4.4rem;
  opacity: 1;
  transform: scaleX(0);
  animation-duration: 1000ms;
}
.menu .entree__choice .checked i {
  font-size: 1.5rem;
  color: #fff;
}

@keyframes wrap {
  0% {
    width: 80%;
  }
  100% {
    width: 50%;
  }
}
@media screen and (min-width: 375px) {
  @keyframes wrap {
    0% {
      width: 80%;
    }
    100% {
      width: 55%;
    }
  }
}
@keyframes iconspin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes price {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-94px);
  }
}
@keyframes checked {
  0% {
    transform: translateX(-150px) scaleX(0);
  }
  1% {
    transform: scaleX(1);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes entree {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.dish {
  margin-right: 1rem;
  margin-left: 1rem;
  padding-top: 1rem;
  animation: dish 2000ms 600ms ease-out both;
}
.dish h3 {
  font-family: robotolight, Arial, serif;
  font-size: 1rem;
  z-index: -3;
}
.dish h3 span {
  border-bottom: 3px solid #99e2d0;
}
.dish__choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 100%;
  padding-left: 0.5rem;
  background: #fff;
  border-radius: 1.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
  box-shadow: 10px 10px 10px #eaeaea;
}
.dish__choice:hover .checked {
  animation: checked 1000ms ease-in-out forwards;
}
.dish__choice:hover .dish__choice__price {
  animation: price 1000ms ease-in-out forwards;
}
.dish__choice:hover i {
  animation: iconspin 1000ms ease-in-out forwards;
}
.dish__choice:hover .dish__choice__fullname {
  animation: wrap 1000ms ease-in-out both;
}
.dish__choice:hover .dish__choice__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish__choice:hover .dish__choice__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish__choice__name {
  display: block;
  font-family: robotoblack, Arial, serif;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}
.dish__choice__description {
  display: block;
  font-family: robotolight, Arial, serif;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  margin-right: 0;
  line-height: 0.9rem;
}
.dish__choice__price {
  float: right;
  margin-right: 1rem;
  display: flex;
  align-items: flex-end;
  bottom: 1.5rem;
  font-family: robotoblack, Arial, serif;
  z-index: 3;
  padding-left: 0.5rem;
}
.dish__choice .checked {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -110px;
  margin-left: 40px;
  height: 75px;
  width: 75px;
  background: #99e2d0;
  border-radius: 0 1.5rem 1.5rem 0;
  top: 4.4rem;
  opacity: 1;
  transform: scaleX(0);
  animation-duration: 1000ms;
}
.dish__choice .checked i {
  font-size: 1.5rem;
  color: #fff;
}

@keyframes dish {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.dessert {
  margin-right: 1rem;
  margin-left: 1rem;
  padding-top: 1rem;
  animation: dessert 2000ms 900ms ease-out both;
}
.dessert h3 {
  font-family: robotolight, Arial, serif;
  font-size: 1rem;
  z-index: -3;
}
.dessert h3 span {
  border-bottom: 3px solid #99e2d0;
}
.dessert__choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 100%;
  padding-left: 0.5rem;
  background: #fff;
  border-radius: 1.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
  box-shadow: 10px 10px 10px #eaeaea;
}
.dessert__choice:hover .checked {
  animation: checked 1000ms ease-in-out forwards;
}
.dessert__choice:hover .dessert__choice__price {
  animation: price 1000ms ease-in-out forwards;
}
.dessert__choice:hover i {
  animation: iconspin 1000ms ease-in-out forwards;
}
.dessert__choice:hover .dessert__choice__fullname {
  animation: wrap 1000ms ease-in-out both;
}
.dessert__choice:hover .dessert__choice__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dessert__choice:hover .dessert__choice__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dessert__choice__name {
  display: block;
  font-family: robotoblack, Arial, serif;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}
.dessert__choice__description {
  display: block;
  font-family: robotolight, Arial, serif;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  margin-right: 0;
  line-height: 0.9rem;
}
.dessert__choice__price {
  float: right;
  margin-right: 1rem;
  display: flex;
  align-items: flex-end;
  bottom: 1.5rem;
  font-family: robotoblack, Arial, serif;
  z-index: 3;
  padding-left: 0.5rem;
}
.dessert__choice .checked {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -110px;
  margin-left: 40px;
  height: 75px;
  width: 75px;
  background: #99e2d0;
  border-radius: 0 1.5rem 1.5rem 0;
  top: 4.4rem;
  opacity: 1;
  transform: scaleX(0);
  animation-duration: 1000ms;
}
.dessert__choice .checked i {
  font-size: 1.5rem;
  color: #fff;
}

@keyframes dessert {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.order {
  text-align: center;
}

#loader .wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#loader .barre {
  display: inline-block;
  width: 20px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 10%;
  animation-name: loading;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.57, 0.2, 0.57, 0.86);
  position: relative;
}
#loader .barre--1 {
  animation-delay: 0.1s;
}
#loader .barre--2 {
  animation-delay: 0.25s;
}
#loader .barre--3 {
  animation-delay: 0.4s;
}
#loader .barre--4 {
  animation-delay: 0.55s;
}
#loader .barre--5 {
  animation-delay: 0.7s;
}
#loader .barre--6 {
  animation-delay: 0.85s;
}
@keyframes loading {
  0% {
    transform: translateY(-50px);
    background-color: #9356DC;
    opacity: 0.5;
  }
  50% {
    transform: translateY(50px);
    background-color: #FF79da;
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
    background-color: #99e2d0;
    opacity: 0;
  }
}

#page {
  opacity: 0;
  animation-name: body;
  animation-duration: 2.5s;
  animation-delay: 2.6s;
  animation-fill-mode: forwards;
}

@keyframes body {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  /*style responsive tablette de index.html*/
  .instructions {
    margin-right: 10%;
    margin-left: 10%;
  }
  .instructions h2 {
    text-align: center;
  }

  .first_two, .last_two {
    display: flex;
  }
  .first_two .restaurants__choice--1, .last_two .restaurants__choice--1 {
    margin-right: 0.5rem;
  }
  .first_two .restaurants__choice--2, .last_two .restaurants__choice--2 {
    margin-left: 0.5rem;
  }
  .first_two .restaurants__choice--3, .last_two .restaurants__choice--3 {
    margin-right: 0.5rem;
  }
  .first_two .restaurants__choice--4, .last_two .restaurants__choice--4 {
    margin-left: 0.5rem;
  }

  /*style responsive tablette des pages de menu*/
  .menu__title {
    margin-left: 5%;
    margin-right: 5%;
  }
  .menu__title h2 {
    font-size: 2rem;
  }

  .entree {
    margin-right: 10% !important;
    margin-left: 10% !important;
  }
  .entree h3 {
    font-size: 1.3rem !important;
    text-align: center;
  }

  .dish {
    margin-right: 10% !important;
    margin-left: 10% !important;
  }
  .dish h3 {
    font-size: 1.3rem !important;
    text-align: center;
  }

  .dessert {
    margin-right: 10% !important;
    margin-left: 10% !important;
  }
  .dessert h3 {
    font-size: 1.3rem !important;
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  /*style responsive laptop index.html*/
  .localisation {
    padding: 0;
  }
  .localisation p {
    font-size: 1rem;
  }
  .localisation i {
    font-size: 1rem !important;
  }

  .presentation {
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
    justify-content: space-around;
    align-items: center;
  }
  .presentation__text {
    text-align: left;
  }

  .instructions {
    margin-right: 10%;
    margin-left: 10%;
  }
  .instructions h2 {
    text-align: center;
    font-size: 2rem;
  }

  .restaurants h2 {
    text-align: center;
    font-size: 2rem;
  }

  .first_two, .last_two {
    display: flex;
    margin: 0 20% 0 20%;
  }
  .first_two .restaurants__choice--1, .last_two .restaurants__choice--1 {
    margin-right: 1rem;
  }
  .first_two .restaurants__choice--2, .last_two .restaurants__choice--2 {
    margin-left: 1rem;
  }
  .first_two .restaurants__choice--3, .last_two .restaurants__choice--3 {
    margin-right: 1rem;
  }
  .first_two .restaurants__choice--4, .last_two .restaurants__choice--4 {
    margin-left: 1rem;
  }

  /*responsive laptop pages menu*/
  .main__menu img {
    max-width: 40%;
    margin-left: 30%;
    margin-bottom: 4rem;
    box-shadow: 10px 10px 8px #000;
    border-radius: 1.5rem;
  }
  .main__menu .menu__title {
    margin-left: 15%;
    margin-right: 15%;
  }
  .main__menu .menu__title h2 {
    font-size: 2.5rem;
  }
  .main__menu .menu__title i {
    font-size: 3rem;
  }
  .main__menu .menu .entree {
    margin-left: 20%;
    margin-right: 20%;
  }
  .main__menu .menu .entree h3 {
    font-size: 1.3rem;
  }
  .main__menu .menu .entree__choice__name {
    margin-left: 1rem;
  }
  .main__menu .menu .entree__choice__description {
    margin-left: 1rem;
  }
  .main__menu .menu .dish {
    margin-left: 20%;
    margin-right: 20%;
  }
  .main__menu .menu .dish h3 {
    font-size: 1.3rem;
  }
  .main__menu .menu .dish__choice__name {
    margin-left: 1rem;
  }
  .main__menu .menu .dish__choice__description {
    margin-left: 1rem;
  }
  .main__menu .menu .dessert {
    margin-left: 20%;
    margin-right: 20%;
  }
  .main__menu .menu .dessert h3 {
    font-size: 1.3rem;
  }
  .main__menu .menu .dessert__choice__name {
    margin-left: 1rem;
  }
  .main__menu .menu .dessert__choice__description {
    margin-left: 1rem;
  }
}
.footer {
  position: relative;
  background: #353535;
  color: #fff;
  padding-bottom: 1.5rem;
}
.footer h2 {
  font-family: shrikhandregular, Arial, serif;
  font-size: 1.2rem;
  margin-left: 1.5rem;
  padding-top: 1.5rem;
  margin-top: 0;
}
.footer__item {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  font-size: 0.8rem;
}
.footer__item p {
  font-family: robotoblack, Arial, serif;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.footer__item .fas {
  width: 1.5rem;
  margin-right: 0.5rem;
}
.footer__item__legal {
  margin-top: 0.5rem;
  font-family: robotothin, Arial, serif;
}
.footer__item__legal a {
  text-decoration: none;
  color: #fff;
}

@media screen and (min-width: 992px) {
  /*style responsive laptop index*/
  .footer h2 {
    text-align: center;
    margin-left: 0;
    font-size: 2rem;
  }
  .footer__content {
    display: flex;
    justify-content: space-around;
    margin-right: 15%;
    margin-left: 15%;
  }
  .footer__content .footer__item {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
