/*style index.html*/
body {
  margin: 0;
  padding: 0;
  width: 500px;
  box-sizing: border-box;
  width: 100%;
}
body img {
  max-width: 100%;
}

@font-face {
  font-family: shrikhandregular;
  src: url("../polices/Shrikhandregular/shrikhand-regular-webfont.eot");
  src: url("../polices/Shrikhandregular/shrikhand-regular-webfont.eot?#iefix") format("eot"), url("../polices/Shrikhandregular/shrikhand-regular-webfont.woff") format("woff"), url("../polices/Shrikhandregular/shrikhand-regular-webfont.ttf") format("truetype"), url("../polices/Shrikhandregular/shrikhand-regular-webfont.svg#shrikhandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: robotoblack;
  src: url("../polices/roboto/Roboto-Black-webfont.eot");
  src: url("../polices/roboto/Roboto-Black-webfont.eot?#iefix") format("embedded-opentype"), url("../polices/roboto/Roboto-Black-webfont.woff") format("woff"), url("../polices/roboto/Roboto-Black-webfont.ttf") format("truetype"), url("../polices/roboto/Roboto-Black-webfont.svg#robotoblack") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: robotobold;
  src: url("../polices/Roboto-Bold-webfont.eot");
  src: url("../polices/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../polices/Roboto-Bold-webfont.woff2") format("woff2"), url("../polices/Roboto-Bold-webfont.woff") format("woff"), url("../polices/Roboto-Bold-webfont.ttf") format("truetype"), url("../polices/Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: robotolight;
  src: url("../polices/roboto/Roboto-Light-webfont.eot");
  src: url("../polices/roboto/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../polices/roboto/Roboto-Light-webfont.woff2") format("woff2"), url("../polices/roboto/Roboto-Light-webfont.woff") format("woff"), url("../polices/roboto/Roboto-Light-webfont.ttf") format("truetype"), url("../polices/roboto/Roboto-Light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
.btn {
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 2rem;
  border: none;
  background-image: linear-gradient(#FF79da, #9356DC);
  color: #fff;
  margin-bottom: 1.5rem;
  box-shadow: 5px 5px 8px #c6bdcd;
  font-family: robotoblack, Arial, serif;
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  box-shadow: 10px 10px 8px #c6bdcd;
  opacity: 0.85;
}
.btn--menu {
  width: 200px;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

/*style index.html*/
header {
  text-align: center;
}
header h1 {
  margin-bottom: 0.5rem;
  font-family: shrikhandregular, Arial, serif;
  font-size: 1.5rem;
}

/*style bastille.html*/
.header__menu {
  display: flex;
  align-items: center;
}
.header__menu h1 {
  position: absolute;
  z-index: 1;
  text-align: center;
  padding-top: 1rem;
}
.header__menu h1 img {
  position: relative;
  max-width: 50%;
}
.header__menu a {
  position: relative;
  z-index: 2;
}
.header__menu i {
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: 1.5rem;
}

.localisation {
  display: flex;
  margin-top: 0;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}
.localisation .fas {
  font-size: 1rem;
  margin-right: 1rem;
}
.localisation p {
  font-size: 1rem;
  font-family: robotoblack, Arial, serif;
}

.presentation {
  text-align: center;
  background-color: #f6f6f6;
}
.presentation__text {
  font-size: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  font-family: robotolight, Arial, serif;
}
.presentation h2 {
  margin-top: 0;
  padding-top: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: robotolight, Arial, serif;
  font-size: 1.5rem;
  font-family: robotobold, Arial, serif;
  margin-bottom: 1.5rem;
}

.instructions__element {
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem 0 1rem 0;
  align-items: center;
  background: #f6f6f6;
  border-radius: 1rem;
  box-shadow: 10px 10px 10px #eaeaea;
  margin-bottom: 2rem;
}
.instructions__element__icons {
  margin: 0;
  width: 1.5rem;
  text-align: center;
  color: #959595;
}
.instructions__element__icons--pink {
  color: #9356DC;
}
.instructions__element__text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #9356DC;
  border-radius: 50%;
  color: #fff;
  font-size: 1rem;
  margin-right: 1rem;
  margin-left: -0.5rem;
}
.instructions__element__content {
  margin-left: 2rem;
  font-family: robotoblack, Arial, serif;
  font-weight: bold;
}
.instructions__element--darker {
  background-color: #f5edff;
}
.instructions h2 {
  margin-top: 0;
  padding-top: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: robotolight, Arial, serif;
  font-size: 1.5rem;
  font-family: robotobold, Arial, serif;
  margin-left: 0.5rem;
}

a {
  font-style: normal;
  color: #000;
  text-decoration: none;
}

.restaurants {
  background-color: #f6f6f6;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 1.5rem;
}
.restaurants__choice {
  margin: 0;
  padding: 0;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}
.restaurants__description {
  display: flex;
  background-color: #fff;
  border-radius: 0 0 1.5rem 1.5rem;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.restaurants__name {
  margin-left: 1.5rem;
}
.restaurants__name h3 {
  font-size: 1rem;
  font-family: robotoblack, Arial, serif;
  margin-bottom: 0;
  font-weight: bold;
  font-style: normal;
}
.restaurants__name p {
  font-family: robotolight, Arial, serif;
  font-style: normal;
  font-size: 1rem;
  margin-top: 0.5rem;
}
.restaurants__fav {
  font-size: 3rem;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
.restaurants__fav i {
  color: red;
}
.restaurants img {
  border-radius: 1.5rem 1.5rem 0 0;
}
.restaurants .picture_cut {
  border-radius: 1.5rem 1.5rem 0 0;
  overflow: hidden;
  height: 250px;
  margin: 0;
}
.restaurants .picture_cut img {
  margin-top: -120px;
}
.restaurants h2 {
  margin-top: 0;
  padding-top: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: robotolight, Arial, serif;
  font-size: 1.5rem;
  font-family: robotobold, Arial, serif;
}

/*style menu*/
.main__menu {
  margin-top: 1rem;
}
.main__menu .cut {
  overflow: hidden;
  height: 250px;
  width: 100%;
}
.main__menu .cut img {
  margin-top: -120px;
}

.menu {
  background: #f6f6f6;
  margin-top: -4rem;
  position: relative;
  z-index: 1;
  width: 100%;
  border-radius: 1.5rem 1.5rem 0 0;
}
.menu__title {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  padding-top: 1rem;
}
.menu__title .restaurants__fav {
  margin-top: 0;
  margin-right: 2rem;
  font-size: 2.5rem;
}
.menu__title h2 {
  font-family: shrikhandregular, Arial, serif;
  margin-bottom: 0;
}
.menu .entree {
  margin-right: 1rem;
  margin-left: 1rem;
  padding-top: 1rem;
  animation: entree 1500ms 200ms ease-out both;
  z-index: -1;
}
.menu .entree h3 {
  font-family: robotolight, Arial, serif;
  font-size: 1rem;
  overflow: wrap;
  z-index: -3;
}
.menu .entree h3 span {
  border-bottom: 3px solid #99e2d0;
}
.menu .entree__choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 100%;
  padding-left: 0.5rem;
  background: #fff;
  border-radius: 1.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
  box-shadow: 10px 10px 10px #eaeaea;
  z-index: 2;
}
.menu .entree__choice:hover .checked {
  animation: checked 1000ms ease-in-out forwards alternate 2;
}
.menu .entree__choice:hover .entree__choice__price {
  animation: price 1000ms ease-in-out alternate 2 forwards;
}
.menu .entree__choice:hover i {
  animation: iconspin 1000ms ease-in-out forwards;
}
.menu .entree__choice__name {
  z-index: -1;
  font-family: robotoblack, Arial, serif;
  margin-top: 1rem;
  line-height: 100%;
  margin-bottom: 0.3em;
}
.menu .entree__choice__description {
  font-family: robotolight, Arial, serif;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  line-height: 0.9rem;
}
.menu .entree__choice__price {
  margin-right: 1rem;
  display: flex;
  align-items: flex-end;
  bottom: 1.5rem;
  right: 0;
  font-family: robotoblack, Arial, serif;
  z-index: 10;
}
.menu .entree__choice .checked {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -110px;
  margin-left: 40px;
  height: 75px;
  width: 75px;
  background: #99e2d0;
  border-radius: 0 1.5rem 1.5rem 0;
  top: 4.4rem;
  opacity: 1;
  transform: scaleX(0);
  animation-duration: 1000ms;
}
.menu .entree__choice .checked i {
  font-size: 1.5rem;
  color: #fff;
}

@keyframes iconspin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes price {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-94px);
  }
}
@keyframes checked {
  0% {
    transform: translateX(-150px), scaleX(0);
  }
  1% {
    transform: scaleX(1);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes entree {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0);
  }
}
.dish {
  margin-right: 1rem;
  margin-left: 1rem;
  padding-top: 1rem;
  animation: dish 1500ms 400ms ease-in-out both;
}
.dish h3 {
  font-family: robotolight, Arial, serif;
  font-size: 1rem;
  overflow: wrap;
  z-index: -3;
}
.dish h3 span {
  border-bottom: 3px solid #99e2d0;
}
.dish__choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 100%;
  padding-left: 0.5rem;
  background: #fff;
  border-radius: 1.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
  box-shadow: 10px 10px 10px #eaeaea;
}
.dish__choice:hover .checked {
  animation: checked 1000ms ease-in-out forwards alternate 2;
}
.dish__choice:hover .dish__choice__price {
  animation: price 1000ms ease-in-out alternate 2 forwards;
}
.dish__choice:hover i {
  animation: iconspin 1000ms ease-in-out forwards;
}
.dish__choice__name {
  z-index: -1;
  font-family: robotoblack, Arial, serif;
  margin-top: 1rem;
  line-height: 100%;
  margin-bottom: 0.3em;
}
.dish__choice__description {
  font-family: robotolight, Arial, serif;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  line-height: 0.9rem;
}
.dish__choice__price {
  margin-right: 1rem;
  display: flex;
  align-items: flex-end;
  bottom: 1.5rem;
  right: 0;
  font-family: robotoblack, Arial, serif;
  z-index: 10;
}
.dish__choice .checked {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -110px;
  margin-left: 40px;
  height: 75px;
  width: 75px;
  background: #99e2d0;
  border-radius: 0 1.5rem 1.5rem 0;
  top: 4.4rem;
  opacity: 1;
  transform: scaleX(0);
  animation-duration: 1000ms;
}
.dish__choice .checked i {
  font-size: 1.5rem;
  color: #fff;
}

@keyframes dish {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0);
  }
}
.dessert {
  margin-right: 1rem;
  margin-left: 1rem;
  padding-top: 1rem;
  animation: dessert 1500ms 600ms ease-in-out both;
}
.dessert h3 {
  font-family: robotolight, Arial, serif;
  font-size: 1rem;
  overflow: wrap;
  z-index: -3;
}
.dessert h3 span {
  border-bottom: 3px solid #99e2d0;
}
.dessert__choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 100%;
  padding-left: 0.5rem;
  background: #fff;
  border-radius: 1.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
  box-shadow: 10px 10px 10px #eaeaea;
}
.dessert__choice:hover .checked {
  animation: checked 1000ms ease-in-out forwards alternate 2;
}
.dessert__choice:hover .dessert__choice__price {
  animation: price 1000ms ease-in-out alternate 2 forwards;
}
.dessert__choice:hover i {
  animation: iconspin 1000ms ease-in-out forwards;
}
.dessert__choice__name {
  z-index: -1;
  font-family: robotoblack, Arial, serif;
  margin-top: 1rem;
  line-height: 100%;
  margin-bottom: 0.3em;
}
.dessert__choice__description {
  font-family: robotolight, Arial, serif;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  line-height: 0.9rem;
}
.dessert__choice__price {
  margin-right: 1rem;
  display: flex;
  align-items: flex-end;
  bottom: 1.5rem;
  right: 0;
  font-family: robotoblack, Arial, serif;
  z-index: 10;
}
.dessert__choice .checked {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -110px;
  margin-left: 40px;
  height: 75px;
  width: 75px;
  background: #99e2d0;
  border-radius: 0 1.5rem 1.5rem 0;
  top: 4.4rem;
  opacity: 1;
  transform: scaleX(0);
  animation-duration: 1000ms;
}
.dessert__choice .checked i {
  font-size: 1.5rem;
  color: #fff;
}

@keyframes dessert {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0);
  }
}
.order {
  text-align: center;
}

#loader .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#loader .barre {
  display: inline-block;
  width: 20px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 10%;
  animation-name: loading;
  animation-duration: 2s;
  animation-direction: cubic-bezier(0.7, 0.4, 0.2, 1.3);
  transform-origin: bottom center;
  position: relative;
}
#loader .barre--1 {
  animation-delay: 0.1s;
}
#loader .barre--2 {
  animation-delay: 0.25s;
}
#loader .barre--3 {
  animation-delay: 0.4s;
}
#loader .barre--4 {
  animation-delay: 0.55s;
}
#loader .barre--5 {
  animation-delay: 0.7s;
}
#loader .barre--6 {
  animation-delay: 0.85s;
}
#loader .barre--7 {
  animation-delay: 1s;
}
@keyframes loading {
  0% {
    transform: translateY(-50px);
    background-color: #9356DC;
    opacity: 1;
  }
  50% {
    transform: translateY(50px);
    background-color: #FF79da;
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
    background-color: #99e2d0;
    opacity: 0;
  }
}

#page {
  opacity: 0;
  animation-name: body;
  animation-duration: 2.5s;
  animation-delay: 2.6s;
  animation-fill-mode: forwards;
}

@keyframes body {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.footer {
  position: relative;
  background: #353535;
  color: #fff;
  padding-bottom: 1.5rem;
}
.footer h2 {
  font-family: shrikhandregular, Arial, serif;
  font-size: 1.2rem;
  margin-left: 1.5rem;
  padding-top: 1.5rem;
  margin-top: 0;
}
.footer__item {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  font-size: 0.8rem;
}
.footer__item p {
  font-family: robotoblack, Arial, serif;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.footer__item .fas {
  width: 1.5rem;
  margin-right: 0.5rem;
}
.footer__item__legal {
  margin-top: 0.5rem;
  font-family: robotothin, Arial, serif;
}
.footer__item__legal a {
  text-decoration: none;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
