.localisation{
    display:flex;
    margin-top:0;
    justify-content:center;
    align-items:center;
    background-color:$color-geoloc;
        .fas{
            font-size:$icon-size;
            margin-right:1rem;
        }
        p{
            font-size:$icon-size;
            font-family:robotoblack, Arial, serif;
        }      
}

.presentation {
    text-align: center;
    background-color: $color-bg;
    &__text {    
        font-size: 1rem;
        margin-right: 1rem;
        margin-left: 1rem;
        font-family:robotolight, Arial, serif;
    }
    h2 {
        @include section_title;
        font-size:$title-size;
        font-family:robotobold,Arial,serif;
        margin-bottom: $margin-mostelem;
    }
}

.instructions {
    &__element {
        display: flex;
        margin-left: 1rem;
        margin-right: 1rem;
        padding:1rem 0 1rem 0;
        align-items: center;
        background: $color-bg;
        border-radius: 1rem;
        box-shadow: 10px 10px 10px $color-geoloc;
        margin-bottom: 2rem;

        &__icons {
            margin: 0;
            width: 1.5rem;
            text-align: center;
            color:$color-icons;
            &--pink{
                color:$color-primary;
            }
        }

        &__text {
            @include work_list;
        }

        &__content {
            margin-left: 2rem;
            font-family:robotoblack, Arial, serif;
            font-weight:bold;
        }
        &--darker{
            background-color:$color-lastbtn;
        }
    }

    h2 {
        @include section_title;     
        font-size:$title-size;
        font-family:robotobold, Arial, serif;
        margin-left:.5rem;
    }
}

a{
    font-style:normal;
    color:#000;
    text-decoration:none;
}
.restaurants {
    background-color: $color-bg;
    padding-right: .5rem;
    padding-left: .5rem;
    padding-bottom:$margin-mostelem;

        &__choice {
        margin: 0;
        padding: 0;
        border-radius: 50%;
        margin-bottom: $margin-mostelem;
        }


        &__description {
            display: flex;
            background-color: #fff;
            border-radius: 0 0 1.5rem 1.5rem;
            justify-content: space-between;
            padding-bottom:1rem;
        }

        &__name {
            margin-left: $margin-mostelem;

            h3 {
                font-size: 1rem;
                font-family: robotoblack, Arial, serif;
                margin-bottom: 0;
                font-weight:bold;     
                font-style:normal;
            }

            p {
                font-family: robotolight, Arial, serif;
                font-style:normal;
                font-size: 1rem;
                margin-top: .5rem;
            }
        }

        &__fav {
            font-size: 3rem;
            margin-right: $margin-mostelem;
            margin-top:1.5rem;
            margin-bottom:0;
        }

        img {
            border-radius: 1.5rem 1.5rem 0 0;
        }

        .picture_cut {
            border-radius: 1.5rem 1.5rem 0 0;
            overflow: hidden;
            height: 250px;
            margin:0;

            img {
                margin-top: -120px;
            }
        }
    
    h2 {
        @include section_title;
        font-size:$title-size;
        font-family:robotobold, Arial, serif;
    }
}
/*style menu*/
.main__menu {
    margin-top: 1rem;

    .cut {
        overflow: hidden;
        height: 250px;
        width:100%;
        img{
            margin-top:-120px;
        }
    }
}

.menu {
    background: $color-menu;
    margin-top: -4rem;
    position:relative;
    z-index:1;
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0;


    &__title {
        display: flex;
        justify-content: space-between;
        margin-top: $margin-mostelem;
        @include margin_menu;

        .restaurants__fav {
            margin-top: 0;
            margin-right: 2rem;
            font-size: 2.5rem;
        }

        h2 {
            font-family: shrikhandregular, Arial, serif;
            margin-bottom:0;
        }
    }

    .entree {
        @include margin_menu;
        
        h3 {
            @include menu_title;

            span {
                border-bottom: 3px solid $color-tertiary;
            }
        }

        &__choice {
            @include menu_choice;

            &__name {
                @include menu_name;
            }

            &__description {
                @include menu_description;
            }

            &__price {
                @include menu_price;
            }
        }
    }
}

.dish {
    @include margin_menu;

    h3 {
        @include menu_title;

        span {
            border-bottom: 3px solid $color-tertiary;
        }
    }

    &__choice {
        @include menu_choice;

        &__name {
            @include menu_name;
        }

        &__description {
            @include menu_description;
        }

        &__price {
            @include menu_price;
        }
    }
}

.dessert{
    @include margin_menu;

    h3 {
        @include menu_title;

        span {
            border-bottom: 3px solid $color-tertiary;
        }
    }

    &__choice {
        @include menu_choice;

        &__name {
            @include menu_name;
        }

        &__description {
            @include menu_description;
        }

        &__price {
            @include menu_price;
        }
    }
}

.order{
    text-align:center;
}