.localisation{
    display:flex;
    margin-top:0;
    justify-content:center;
    align-items:center;
    background-color:$color-geoloc;
        .fas{
            font-size:$icon-size;
            margin-right:1rem;
        }
        p{
            font-size:$icon-size;
            font-family:robotoblack, Arial, serif;
        }      
}

.presentation {
    text-align: center;
    background-color: $color-bg;
    &__text {    
        font-size: 1rem;
        margin-right: 1rem;
        margin-left: 1rem;
        font-family:robotolight, Arial, serif;
    }
    h2 {
        @include section_title;
        font-size:$title-size;
        font-family:robotobold,Arial,serif;
        margin-bottom: $margin-mostelem;
    }
}

.instructions {
    &__element {
        display: flex;
        margin-left: 1rem;
        margin-right: 1rem;
        padding:1rem 0 1rem 0;
        align-items: center;
        background: $color-bg;
        border-radius: 1rem;
        box-shadow: 10px 10px 10px $color-geoloc;
        margin-bottom: 2rem;

        &__icons {
            margin: 0;
            width: 1.5rem;
            text-align: center;
            color:$color-icons;
            &--pink{
                color:$color-primary;
            }
        }

        &__text {
            @include work_list;
        }

        &__content {
            margin-left: 2rem;
            font-family:robotoblack, Arial, serif;
            font-weight:bold;
        }
        &--darker{
            background-color:$color-lastbtn;
        }
    }

    h2 {
        @include section_title;     
        font-size:$title-size;
        font-family:robotobold, Arial, serif;
        margin-left:.5rem;
    }
}

a{
    font-style:normal;
    color:#000;
    text-decoration:none;
}


.restaurants {
    background-color: $color-bg;
    padding-right: .5rem;
    padding-left: .5rem;
    padding-bottom: $margin-mostelem;

    &__choice {
        margin: 0;
        padding: 0;
        border-radius: 50%;
        margin-bottom: $margin-mostelem;
    }


    &__description {
        display: flex;
        background-color: #fff;
        border-radius: 0 0 1.5rem 1.5rem;
        justify-content: space-between;
        padding-bottom: 1rem;
    }

    &__name {
        margin-left: $margin-mostelem;

        h3 {
            font-size: 1rem;
            font-family: robotoblack, Arial, serif;
            margin-bottom: 0;
            font-weight: bold;
            font-style: normal;
        }

        p {
            font-family: robotolight, Arial, serif;
            font-style: normal;
            font-size: 1rem;
            margin-top: .5rem;
        }
    }

    &__fav {
        font-size: 3rem;
        margin-right: $margin-mostelem;
        margin-top: 1.5rem;
        margin-bottom: 0;
        position: relative;

        .voidheart {
            position: absolute;
            font-size: 1.5rem;
            right: 10px;
        }

        .filledheart {
            position: absolute;
            font-size: 1.5rem;
            right: 10px;
            opacity: 0;
            z-index: 2;
        }

        &:hover {
            .voidheart{
                animation: disappear 500ms both;           
            }
            .filledheart {
                animation:progressiveheart 1000ms forwards;
                transform-origin:bottom;
            }
        }
    }

    img {
        border-radius: 1.5rem 1.5rem 0 0;
    }

    .picture_cut {
        border-radius: 1.5rem 1.5rem 0 0;
        overflow: hidden;
        height: 250px;
        margin: 0;

        img {
            margin-top: -120px;
        }
    }

    h2 {
        @include section_title;
        font-size: $title-size;
        font-family: robotobold, Arial, serif;
    }
}
@keyframes disappear{
    0%{
        opacity:1
    }
    10%{
        opacity:0;
    }
    100%{
        opacity:0;
    }   
}
@keyframes progressiveheart {
    0% {
        
        transform: scaleZ(0);
        opacity: 0;
        transform-origin: bottom;
    }

    25% {
        transform: scaleZ(.23);
        opacity:.1;
    }

    50% {
        transform: scaleZ(.47);
        opacity:.2;
        
    }

    75% {
        transform: scaleZ(.77);
        opacity:.65;
    }

    100% {
        color:red;
        transform: scaleZ(1);
        opacity: 1;
    }
}
/*style menu*/
.main__menu {
    margin-top: 1rem;

    .cut {
        overflow: hidden;
        height: 250px;
        width:100%;
        img{
            margin-top:-120px;
        }
    }
}

.menu {
    background: $color-menu;
    margin-top: -4rem;
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0;


    &__title {
        display: flex;
        justify-content: space-between;
        margin-top: $margin-mostelem;
        @include margin_menu;

        .restaurants__fav {
            margin-top: 1.1rem;          
            font-size: 2.5rem;
            margin-right:0;
        }

        h2 {
            font-family: shrikhandregular, Arial, serif;
            font-size:1.5rem;
            margin-bottom: 0;
        }
    }

    .entree {
        @include margin_menu;
        animation: entree 1500ms 200ms ease-out both;
        z-index: -1;

        h3 {
            @include menu_title;

            span {
                border-bottom: 3px solid $color-tertiary;
            }
        }

        &__choice {
            @include menu_choice;
            z-index: 2;


            &:hover {
                .checked {
                    animation: checked 1000ms ease-in-out forwards ;
                }

                .entree__choice__price {
                    animation: price 1000ms ease-in-out forwards;
                }

                i {
                    animation: iconspin 1000ms ease-in-out forwards;
                }

              
            }



            &__name {
                @include menu_name;
            }

            &__description {
                @include menu_description;
            }

            &__price {
                @include menu_price;
            }

            .checked {
                @include checked;

                i {
                    font-size: 1.5rem;
                    color: #fff;
                }
            }
        }
    }
}
@keyframes iconspin{
    from{
        transform:rotateZ(0deg);
    }
    to{
        transform:rotateZ(360deg);
    }
}
@keyframes price{
    0%{
        transform:translateX(0);
        
    }
    100%{
        transform:translateX(-94px);
    }
}

@keyframes checked{
    0%{
        transform:translateX(-150px), scaleX(0);      
    }
    1% {
        transform: scaleX(1);
    }
    100% {
        
        transform: translateX(0);
    }
}



@keyframes entree {
    0% {
        transform: translateX(-1000px);
    }

    100% {
        transform: translateX(0);
    }
}

.dish {
    @include margin_menu;
    animation: dish 1500ms 400ms ease-in-out both;

    h3 {
        @include menu_title;

        span {
            border-bottom: 3px solid $color-tertiary;
        }
    }

    &__choice {
        @include menu_choice;

        &:hover {
            .checked {
                animation: checked 1000ms ease-in-out forwards;
            }

            .dish__choice__price {
                animation: price 1000ms ease-in-out forwards;
            }

            i {
                animation: iconspin 1000ms ease-in-out forwards;
            }
            
            
        }

        &__name {
            @include menu_name;
            
        }

        &__description {
            @include menu_description;
            
        }

        &__price {
            @include menu_price;
        }

        .checked {
            @include checked;

            i {
                font-size: 1.5rem;
                color: #fff;
            }
        }
    }
}

@keyframes dish {
    0% {
        transform: translateX(-1000px);
    }

    100% {
        transform: translateX(0);
    }
}

.dessert {
    @include margin_menu;
    animation: dessert 1500ms 600ms ease-in-out both;

    h3 {
        @include menu_title;

        span {
            border-bottom: 3px solid $color-tertiary;
        }
    }

    &__choice {
        @include menu_choice;

        &:hover {
            .checked {
                animation: checked 1000ms ease-in-out forwards;
            }

            .dessert__choice__price {
                animation: price 1000ms ease-in-out forwards;
            }

            i {
                animation: iconspin 1000ms ease-in-out forwards;
            }
        }

        &__name {
            @include menu_name;
        }

        &__description {
            @include menu_description;
        }

        &__price {
            @include menu_price;
        }

        .checked {
            @include checked;

            i {
                font-size: 1.5rem;
                color: #fff;
            }
        }
    }
}

@keyframes dessert {
    0% {
        transform: translateX(-1000px);
    }

    100% {
        transform: translateX(0);
    }
}

.order{
    text-align:center;
}

#loader {
    .wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .barre {
        display: inline-block;
        width: 20px;
        height: 50px;
        background-color: #ffffff;
        border-radius: 10%;
        animation-name: loading;
        animation-duration: 2s;
        animation-direction: cubic-bezier(1, .4, .2, 1.3);
        transform-origin: bottom center;
        position: relative;

        &--1 {
            animation-delay: 0.1s;
        }

        &--2 {
            animation-delay: 0.25s;
        }

        &--3 {
            animation-delay: 0.4s;
        }

        &--4 {
            animation-delay: 0.55s;
        }

        &--5 {
            animation-delay: 0.7s;
        }

        &--6 {
            animation-delay: 0.85s;
        }

        
    }

    @keyframes loading {
        0% {
            transform: translateY(-50px);
            background-color: $color-primary;
            opacity: .5;
        }

        50% {
            transform: translateY(50px);
            background-color: $color-secondary;
            opacity: 1;
        }

        85% {
            opacity: 1;
        }

        100% {
            transform: translateY(-50px);
            background-color: $color-tertiary;
            opacity: 0;
        }
    }
}
#page {
    opacity: 0;
    animation-name: body;
    animation-duration: 2.5s;
    animation-delay: 2.6s;
    animation-fill-mode: forwards;
}
@keyframes body {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}