/*style loader + page avant anim body*/
#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    .barre {
        display: inline-block;
        width: 20px;
        height: 50px;
        background-color: #ffffff;
        border-radius: 10%;
        animation: loading 1500ms cubic-bezier(0.57, 0.2, 0.57, 0.86);
        position: relative;

        &--1 {
            animation-delay: 0.1s;
        }

        &--2 {
            animation-delay: 0.25s;
        }

        &--3 {
            animation-delay: 0.4s;
        }

        &--4 {
            animation-delay: 0.55s;
        }

        &--5 {
            animation-delay: 0.7s;
        }

        &--6 {
            animation-delay: 0.85s;
        }
    }
}

#page {
    opacity: 0;
    animation: body 2500ms 2200ms forwards;
}


/*style section localisation*/
.localisation{
    display:flex;
    margin-top:0;
    justify-content:center;
    align-items:center;
    background-color:$color-geoloc;
        .fas{
            font-size:$icon-size;
            margin-right:1rem;
        }
        p{
            font-size:$icon-size;
            font-family:robotoblack, Arial, serif;
        }      
}

/* style presentation entreprise */
.presentation {
    text-align: center;
    background-color: $color-bg;
    &__text {    
        font-size: 1rem;
        margin-right: 1rem;
        margin-left: 1rem;
        font-family:robotolight, Arial, serif;
    }
    h2 {
        @include section_title;
        font-size:$title-size;
        font-family:robotobold,Arial,serif;
        margin-bottom: 1rem;
    }
}

/*style instructions d'utilisation du site*/
.instructions {
    &__element {
        display: flex;
        margin-left: 1rem;
        margin-right: 1rem;
        padding:1rem 0 1rem 0;
        align-items: center;
        background: $color-bg;
        border-radius: 1rem;
        box-shadow: 10px 10px 10px $color-geoloc;
        margin-bottom: 2rem;

        &__icons {
            margin: 0;
            width: 1.5rem;
            text-align: center;
            color:$color-icons;
            &--pink{
                color:$color-primary;
            }
        }

        &__text {
            @include work_list;
        }

        &__content {
            margin-left: 2rem;
            font-family:robotoblack, Arial, serif;
            font-weight:bold;
        }
        &--darker{
            background-color:$color-lastbtn;
        }
    }

    h2 {
        @include section_title;     
        font-size:$title-size;
        font-family:robotobold, Arial, serif;
        margin-left:.5rem;
    }
}

a{
    font-style:normal;
    color:#000;
    text-decoration:none;
}

/*style affichage restaurants*/
.restaurants {
    background-color: $color-bg;
    padding-right: .5rem;
    padding-left: .5rem;
    padding-bottom: $margin-mostelem;

    img {
        margin-bottom: 0;
    }

    &__choice {
        margin: 0;
        padding: 0;
        border-radius: 1.5rem;
        overflow: hidden;
        margin-bottom: $margin-mostelem;
        position: relative;

        .new {
            position: absolute;
            top: 5%;
            right: 5%;
            background:$color-tertiary;
            padding:.5rem 2rem .5rem 2rem;
            font-family:robotoblack, Arial, serif;
            color:darken($color-tertiary, 40%);
            border-radius:.2rem;
        }
    }


    &__description {
        display: flex;
        background-color: #fff;
        border-radius: 0 0 1.5rem 1.5rem;
        justify-content: space-between;
        padding-bottom: 1rem;
        margin-top: 0;
    }

    &__name {
        margin-left: $margin-mostelem;

        h3 {
            font-size: 1rem;
            font-family: robotoblack, Arial, serif;
            margin-bottom: 0;
            font-weight: bold;
            font-style: normal;
        }

        p {
            font-family: robotolight, Arial, serif;
            font-style: normal;
            font-size: 1rem;
            margin-top: .5rem;
        }
    }

    &__fav {
        font-size: 3rem;
        margin-right: $margin-mostelem;
        margin-top: 1.5rem;
        margin-bottom: 0;
        position: relative;

        .voidheart {
            position: absolute;
            font-size: 1.5rem;
            right: 10px;
        }

        .filledheart {
            position: absolute;
            font-size: 1.5rem;
            right: 10px;
            opacity: 0;
            z-index: 2;
        }

        &:hover {
            .voidheart {
                animation: disappear 500ms both;
            }

            .filledheart {
                animation: progressiveheart 750ms forwards;
                transform-origin: bottom;
            }
        }
    }

    h2 {
        @include section_title;
        font-size: $title-size;
        font-family: robotobold, Arial, serif;
    }
}

/*style menu*/
.main__menu {
    margin-top: 1rem;

    .cut {
        overflow: hidden;
        height: 250px;
        width:100%;
        img{
            margin-top:-120px;
        }
    }
}

.menu {
    background: $color-menu;
    margin-top: -4rem;
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0;


    &__title {
        display: flex;
        justify-content: space-between;
        margin-top: $margin-mostelem;
        @include margin_menu;

        .restaurants__fav {
            margin-top: .8rem;
            font-size: 2.5rem;
            margin-right: 0;
        }

        h2 {
            font-family: shrikhandregular, Arial, serif;
            font-size: 1.3rem;
            margin-bottom: 0;
        }
    }
    /*style entree, plat, dessert*/
    .entree {
        @include margin_menu;
        animation: apparition 2000ms 450ms ease-out both;


        h3 {
            @include menu_title;

            span {
                border-bottom: 3px solid $color-tertiary;
            }
        }

        &__choice {
            @include menu_choice;


            &:hover {
                .checked {
                    transform: scaleX(1);
                    transition: transform 1000ms;
                }

                .entree__choice__price {
                    transition: transform 1000ms;
                    transform: translateX(-94px);
                }

                i {
                    animation: iconspin 700ms ease-in-out forwards;
                }

                .entree__choice__name {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .entree__choice__description {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .entree__choice__fullname {
                    animation: wrap 1000ms both;
                }
            }

            &__fullname {
                width: 80%;
            }

            &__name {
                @include menu_name;
            }

            &__description {
                @include menu_description;
            }

            &__price {
                @include menu_price;
                transform: translateX(0);
                transition: transform 1000ms;
            }

            .checked {
                @include checked;
                transform: scaleX(0);
                transition: all 1000ms;

                i {
                    font-size: 1.5rem;
                    color: #fff;
                }
            }
        }
    }

    .dish {
        @include margin_menu;
        animation: apparition 2000ms 900ms ease-out both;

        h3 {
            @include menu_title;

            span {
                border-bottom: 3px solid $color-tertiary;
            }
        }

        &__choice {
            @include menu_choice;

            &:hover {
                .checked {
                    transform: scaleX(1);
                    transition: transform 1000ms;
                }

                .dish__choice__price {
                    transition: transform 1000ms;
                    transform: translateX(-94px);
                }

                i {
                    animation: iconspin 700ms ease-in-out forwards;
                }

                .dish__choice__fullname {
                    animation: wrap 1000ms ease-in-out both;
                }

                .dish__choice__name {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .dish__choice__description {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            &__name {
                @include menu_name;
            }

            &__description {
                @include menu_description;
            }

            &__price {
                @include menu_price;
                transform: translateX(0);
                transition: transform 1000ms;
            }

            .checked {
                @include checked;        
                transform: scaleX(0);
                transition: all 1000ms;

                i {
                    font-size: 1.5rem;
                    color: #fff;
                }
            }
        }
    }

    .dessert {
        @include margin_menu;
        animation: apparition 2000ms 1350ms ease-out both;


        h3 {
            @include menu_title;

            span {
                border-bottom: 3px solid $color-tertiary;
            }
        }

        &__choice {
            @include menu_choice;

            &:hover {
                .checked {
                    transform:scaleX(1);
                    transition: transform 1000ms;              
                }

                .dessert__choice__price {
                    transition: transform 1000ms;
                    transform: translateX(-94px);
                }

                i {
                    animation: iconspin 700ms ease-in-out forwards;
                }

                .dessert__choice__fullname {
                    animation: wrap 1000ms ease-in-out both;
                }

                .dessert__choice__name {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .dessert__choice__description {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            &__name {
                @include menu_name;
            }

            &__description {
                @include menu_description;
            }

            &__price {
                @include menu_price;
                transform: translateX(0);
                transition: transform 1000ms;
            }

            .checked {
                @include checked;
                transform:scaleX(0);
                transition:all 1000ms;
                i {
                    font-size: 1.5rem;
                    color: #fff;
                }
            }
        }
    }
}

.order{
    text-align:center;
}



/*animation wrap texte*/
@keyframes wrap {
    0% {
        width: 85%;
    }

    50% {
        width: 60%;
    }

    100% {
        width: 55%;
    }
}

/*ajustements pour l'animation wrap pour differentes tailles*/
@media screen and (min-width:375px) {
    @keyframes wrap {
        0% {
            width: 80%;
        }

        100% {
            width: 55%;
        }
    }
}

@media screen and (max-width:375px) {
    @keyframes wrap {
        0% {
            width: 80%;
        }

        30% {
            width: 60%;
        }

        100% {
            width: 50%;
        }
    }
}

/*animation rotation icone coche*/
@keyframes iconspin {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

/*animation apparition des groupes de plats*/
@keyframes apparition {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/*animations loader et apparition page*/
@keyframes loading {
    0% {
        transform: translateY(-50px);
        background-color: $color-primary;
        opacity: .5;
    }

    50% {
        transform: translateY(50px);
        background-color: $color-secondary;
        opacity: 1;
    }

    85% {
        opacity: 1;
    }

    100% {
        transform: translateY(-50px);
        background-color: $color-tertiary;
        opacity: 0;
    }
}

@keyframes body {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*animations disparition coeur vide et apparation progressive coeur plein*/
@keyframes disappear {
    0% {
        opacity: 1
    }

    10% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes progressiveheart {
    0% {
        transform: scaleZ(0);
        opacity: 0;
        transform-origin: bottom;
    }

    25% {
        transform: scaleZ(.23);
        opacity: .1;
    }

    50% {
        transform: scaleZ(.47);
        opacity: .2;
    }

    75% {
        transform: scaleZ(.77);
        opacity: .65;
    }

    100% {
        color: $color-primary;
        transform: scaleZ(1);
        opacity: 1;
    }
}



@media screen and (min-width:768px) and (max-width:991px){
/*style responsive tablette de index.html*/
    .instructions{
        margin-right:10%;
        margin-left:10%;
        h2{
            text-align:center;
        }
    }

    .first_two, .last_two{
        display:flex;
        .restaurants__choice{
            &--1{
                margin-right:.5rem;
            }
            &--2{
                margin-left:.5rem;
            }
            &--3{
                margin-right:.5rem;
            }
            &--4{
                margin-left:.5rem;
            }
        }
    }
/*style responsive tablette des pages de menu*/
    .menu{
        &__title{
            margin-left:5%;
            margin-right:5%;
            h2{
                font-size:2rem;
            }
        }
    }

    .entree{
        margin-right:10%!important;
        margin-left:10%!important;
        h3{
            font-size:1.3rem!important;
            text-align:center;
        }
    }

    .dish {
        margin-right: 10% !important;
        margin-left: 10% !important;

        h3 {
            font-size: 1.3rem !important;
            text-align: center;
        }
    }

    .dessert {
        margin-right: 10% !important;
        margin-left: 10% !important;

        h3 {
            font-size: 1.3rem !important;
            text-align: center;
        }
    }


}

@media screen and (min-width:992px){
/*style responsive laptop index.html*/
    .localisation{
       padding:0;
        p{
        font-size:1rem;
        }

        i{
            font-size:1rem!important;
        }
    }
    
    .presentation{
        display:flex;
        padding-left:15%;
        padding-right:15%;
        justify-content:space-around;
        align-items:center;
        &__text{
            text-align:left;
           
           
        }
    }

    .instructions {
        margin-right: 10%;
        margin-left: 10%;

        h2 {
            text-align: center;
            font-size:2rem;
        }
    }

    .restaurants
        h2{
        text-align:center;
        font-size:2rem;
    }

    .first_two, .last_two {
        display: flex;
        
        margin:0 20% 0 20%;
        

        .restaurants__choice {
            &--1 {
                margin-right: 1rem;
            }

            &--2 {
                margin-left: 1rem;
            }

            &--3 {
                margin-right: 1rem;
            }

            &--4 {
                margin-left: 1rem;
            }
        }
    }

    /*responsive laptop pages menu*/
    .main__menu {
        img {
            max-width: 40%;
            margin-left: 30%;
            margin-bottom: 4rem;
            box-shadow: 10px 10px 8px #000;
            border-radius: 1.5rem;
        }

        .menu {

            &__title {
                margin-left: 15%;
                margin-right: 15%;

                h2 {
                    font-size: 2.5rem;
                }

                i {
                    font-size: 3rem;
                }
            }

            .entree {
                margin-left: 20%;
                margin-right: 20%;

                h3 {
                    font-size: 1.3rem;
                }

                &__choice {
                    &__name {
                        margin-left: 1rem;
                    }

                    &__description {
                        margin-left: 1rem;
                    }
                }
            }

            .dish {
                margin-left: 20%;
                margin-right: 20%;

                h3 {
                    font-size: 1.3rem;
                }

                &__choice {
                    &__name {
                        margin-left: 1rem;
                    }

                    &__description {
                        margin-left: 1rem;
                    }
                }
            }

            .dessert {
                margin-left: 20%;
                margin-right: 20%;

                h3 {
                    font-size: 1.3rem;
                }

                &__choice {
                    &__name {
                        margin-left: 1rem;
                    }

                    &__description {
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
    
    
}