.footer {
    position:relative;
    background: $color-footer;
    color: #fff;
    padding-bottom: 1.5rem;

    h2 {
        font-family: shrikhandregular, Arial, serif;
        font-size:1.2rem;
        margin-left: $margin-mostelem;
        padding-top: 1.5rem;
        margin-top:0;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-left: $margin-mostelem;
        font-size: .8rem;

        p {
            font-family: robotoblack, Arial, serif;
            font-weight: bold;
            margin-top: .5rem;
            margin-bottom: .5rem;
        }

        .fas {
            width: 1.5rem;
            margin-right:.5rem;
        }



        &__legal {
            margin-top: .5rem;
            font-family:robotothin,Arial,serif;

            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}
