.btn {
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 2rem;
    border: none;
    background-image: linear-gradient($color-secondary,$color-primary);
    color: #fff;
    margin-bottom: 1.5rem;
    box-shadow: 10px 10px 10px $color-geoloc;
    font-family:robotoblack, Arial, serif;
    &--menu{
        width:200px;
        margin-top:2rem;
        margin-bottom:4rem;
    }
}

