/*style index.html*/
body{
    margin:0;
    padding:0;
    width:500px;
    box-sizing:border-box;
    width:100%;
        img{
            max-width:100%;
        }
}

/*style bastille.html
.body__bastille{
    margin:0;
    padding:0;
    width:500px;
    box-sizing:border-box;

    img{
        max-width:100%;
    }
}*/