@font-face {
    font-family: shrikhandregular;
    src: url('../polices/Shrikhandregular/shrikhand-regular-webfont.eot');
       src: url('../polices/Shrikhandregular/shrikhand-regular-webfont.eot?#iefix') format('eot'),
        url('../polices/Shrikhandregular/shrikhand-regular-webfont.woff') format('woff'),
        url('../polices/Shrikhandregular/shrikhand-regular-webfont.ttf') format('truetype'),
        url('../polices/Shrikhandregular/shrikhand-regular-webfont.svg#shrikhandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: robotoblack;
    src: url('../polices/roboto/Roboto-Black-webfont.eot');
    src: url('../polices/roboto/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
        url('../polices/roboto/Roboto-Black-webfont.woff') format('woff'),
        url('../polices/roboto/Roboto-Black-webfont.ttf') format('truetype'),
        url('../polices/roboto/Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: robotobold;
    src: url('../polices/Roboto-Bold-webfont.eot');
    src: url('../polices/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../polices/Roboto-Bold-webfont.woff2') format('woff2'), url('../polices/Roboto-Bold-webfont.woff') format('woff'), url('../polices/Roboto-Bold-webfont.ttf') format('truetype'), url('../polices/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: robotolight;
    src: url('../polices/roboto/Roboto-Light-webfont.eot');
    src: url('../polices/roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../polices/roboto/Roboto-Light-webfont.woff2') format('woff2'),
        url('../polices/roboto/Roboto-Light-webfont.woff') format('woff'),
        url('../polices/roboto/Roboto-Light-webfont.ttf') format('truetype'),
        url('../polices/roboto/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}



