@mixin section_title {
    margin-top: 0;
    padding-top: 2rem;
    font-weight: bold;
    font-size: $title-size;
    font-family:robotolight, Arial, serif;
}

@mixin work_list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;
    background-color: $color-primary;
    border-radius: 50%;
    color: #fff;
    font-size: 1rem;
    margin-right:1rem;
    margin-left:-0.5rem;
}

@mixin margin_menu{
    margin-right:1rem;
    margin-left:1rem;
}

@mixin menu_title {
    font-family: robotolight, Arial, serif;
    font-size: 1rem;
}

@mixin menu_choice {
    display: flex;
    justify-content: space-between;
    height: 75px;
    padding-left: .5rem;
    background: #fff;
    border-radius: 1.5rem;
    position: relative;
    margin-bottom: 1rem;
    
}

@mixin menu_name {
    font-family: robotoblack, Arial, serif;
    margin-top: 1rem;
    line-height:100%;
    margin-bottom:.2em;
}

@mixin menu_description {
    font-family: robotolight, Arial, serif;
    font-size: .9rem;
    margin-bottom: 1rem;
}

@mixin menu_price {
    margin-right: 1rem;
    position: absolute;
    bottom: 1.5rem;
    right: 0;
    font-family: robotoblack, Arial, serif;
}