@mixin section_title {
    margin-top: 0;
    padding-top: 2rem;
    font-weight: bold;
    font-size: $title-size;
    font-family:robotolight, Arial, serif;
}

@mixin work_list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;
    background-color: $color-primary;
    border-radius: 50%;
    color: #fff;
    font-size: 1rem;
    margin-right:1rem;
    margin-left:-0.5rem;
}

@mixin margin_menu {
    margin-right: 1rem;
    margin-left: 1rem;
    padding-top:1rem;
}

@mixin menu_title {
    font-family: robotolight, Arial, serif;
    font-size: 1rem;
    overflow:wrap;
    z-index:-3;
    
}

@mixin menu_choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width:100%;
    padding-left: .5rem;
    background: #fff;
    border-radius: 1.5rem;
    overflow:hidden;
    margin-bottom: 1rem;
    box-shadow: 10px 10px 10px $color-geoloc;
}

@mixin menu_name {
    display:block;
    font-family: robotoblack, Arial, serif;
    margin-top: 1rem;
    margin-bottom: .3rem;
    
}

@mixin menu_description {
    display:block;
    font-family: robotolight, Arial, serif;
    font-size: .9rem;
    margin-bottom: 1rem;
    margin-right:0;
    line-height: .9rem;  
    
    
   
}

@mixin menu_price {
    float: right;
    margin-right: 1rem;
    display: flex;
    align-items: flex-end;
    bottom: 1.5rem;   
    font-family: robotoblack, Arial, serif;
    z-index: 3;  
    padding-left:.5rem;
}

@mixin checked {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -110px;
    margin-left: 40px;
    height: 75px;
    width: 75px;
    background: $color-tertiary;
    border-radius: 0 1.5rem 1.5rem 0;
    top: 4.4rem;
    opacity: 1;
    transform: scaleX(0);
    animation-duration: 1000ms;
}