$color-primary:#9356DC;
$color-secondary:#FF79da;
$color-tertiary:#99e2d0;
$color-geoloc:#eaeaea;
$color-bg:#f6f6f6;
$color-lastbtn:#f5edff;

$icon-size:1rem;
$title-size:2rem;

$margin-mostelem:1.5rem;
